body
{
  margin: 0;
  padding: 0;
}
h1
{
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
}
.card{
  color: black;
  background-color: whitesmoke;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  margin: 20px auto;
}